<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Client - Long-polling</title>
  </head>
  <body>
    <link rel="stylesheet" href="style.css" />
    <div id="map-wrapper">
      <div id="map"></div>
    </div>
    <div id="app">
      <div
        style="display:flex;justify-content:space-between;align-items:center;"
      >
        <h1 style="display:inline">Hi, this is a test client!</h1>
        <a
          href="https://github.com/metamemelord/Node-Express-Long-Polling"
          style="margin: auto 0.5rem;"
          ><img
            src="github.png"
            alt="Github Logo"
            style="width:2rem;height:2rem"
        /></a>
      </div>
      Ping the server after every:&nbsp;
      <input
        type="number"
        v-model="ping_frequency"
        placeholder="seconds"
        :disabled="interval_id != -1"
      />
      <button @click="startPolling()" :disabled="interval_id != -1">
        Start
      </button>
      <button @click="stopPolling()" v-if="interval_id != -1">Stop</button>
      <button @click="clearMessages()" v-if="messages.length">Clear</button>
      <div style="margin-top: 316px;" v-if="messages.length">
        <ul>
          <li :class="{r: messages.length == 1}" v-for="message in messages">
            {{ message.ts }}: {{ message.data }} ({{ message.time_taken }}ms)
          </li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="script.js"></script>
  </body>
</html>
